<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="ch.itomy.shortcut"
        version="0.0.1">

  <name>Shortcut</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/shortcut.js" target="js/shortcut.js"/>

  <js-module src="www/shortcut.js" name="shortcut">
    <clobbers target="shortcut" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Shortcut">
        <param name="android-package" value="ch.itomy.plugin.Shortcut"/>
      </feature>
    </config-file>

          <config-file target="AndroidManifest.xml" parent="/*">
<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
<uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
      </config-file>

    <source-file src="src/android/Shortcut.java" target-dir="src/ch/itomy/plugin/"/>
  </platform>

</plugin>